<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MassiveTest.Wcf.Services.Settings.DbSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WcfServiceHost.DbSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="MassiveTest.Wcf.Services.DataManagementService">
        <endpoint address="" binding="basicHttpBinding" contract="MassiveTest.Wcf.Services.IDataManagementService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Graphs/Data.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="MassiveTest.Wcf.Services.DomainSpecificService">
        <endpoint address="" binding="basicHttpBinding" contract="MassiveTest.Wcf.Services.IDomainSpecificService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Graphs/Domain.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <applicationSettings>
    <MassiveTest.Wcf.Services.Settings.DbSettings>
      <setting name="DbUser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="DbPass" serializeAs="String">
        <value>12345</value>
      </setting>
      <setting name="DbHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DbName" serializeAs="String">
        <value>graphs</value>
      </setting>
    </MassiveTest.Wcf.Services.Settings.DbSettings>
  </applicationSettings>
</configuration>
