<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDomainSpecificService" />
                <binding name="BasicHttpBinding_IDataManagementService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Graphs/Domain.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDomainSpecificService"
                contract="MassiveTest.DomainSpecificService.IDomainSpecificService"
                name="BasicHttpBinding_IDomainSpecificService" />
            <endpoint address="http://localhost/Graphs/Data.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDataManagementService"
                contract="MassiveTest.DataManagementService.IDataManagementService"
                name="BasicHttpBinding_IDataManagementService" />
        </client>
    </system.serviceModel>
</configuration>